@use "../variables.scss";
@use "../supportive/mixins.scss";

.benefit {
  background-color: variables.$common-color;
  display: flex;
  flex-direction: column;

  @include mixins.list-reset;
}

@media (min-width: variables.$tablet-width) {
  .benefit {
    flex-direction: row;
    justify-content: space-between;
  }
}

.benefit__item {
  padding-left: 65px;
  margin-top: 32px;

  &:last-child {
    margin-bottom: 45px;
  }
}

.benefit__title {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}

.benefit__description {
  color: variables.$light-text;
  padding: 0;
  margin: 0;
}
