@use "../variables.scss";
@use "../supportive/mixins.scss";

.benefit {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  @include mixins.list-reset;
}

@media (min-width: variables.$tablet-width) {
  .benefit {
    flex-direction: row;
    justify-content: space-between;
  }
}

.benefit__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.benefit__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.benefit__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  padding: 0;
  margin: 0;
}
