@use "../variables.scss";
@use "../supportive/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: variables.$tablet-width) {
    padding: 0 20px;
    box-sizing: border-box;
  }

  @media (min-width: variables.$tablet-width) {
    background-color: #f2f2f2;

    &:not(:first-child):nth-child(2n-1) {
      background-color: #eaeaea;
    }
  }
}

.card__wrap {
  position: relative;
  width: 100%;
  margin-top: 25px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 0;
  }
}

.card__container {
  text-transform: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    padding: 0 20px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    color: variables.$common-color;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.card__img-link {
  display: block;
  width: 100%;
  height: auto;
}

.card__img {
  display: block;
  min-width: 280px;
  width: 100%;
  object-fit: cover;

  @media (min-width: variables.$tablet-width) {
    height: 267px;

    .card:first-child & {
      min-height: 400px;
    }
  }
}

.card__text-wrap {
  @media (min-width: variables.$tablet-width) {
    margin-top: 8px;
    padding-bottom: 5px;
    max-width: 72%;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 2px;
    margin-left: 5px;
  }
}

.card__title {
  margin-bottom: 2px;

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 5px;
  }
}

.card__likes-button {
  border: none;
  background-color: transparent;
  height: 33px;
  margin-top: 7px;
  margin-bottom: 22px;
  padding: 0;
  fill-opacity: 0.3;

  &:hover,
  &:focus,
  &:active {
    fill-opacity: 1;
  }

  @media (min-width: variables.$tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: variables.$desktop-width) {
    color: variables.$common-color;
    fill-opacity: 1;
    margin-top: 23px;

    &:hover,
    &:focus,
    &:active {
      fill-opacity: 0.9;
    }
  }
}

.card__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin-left: 9px;
  vertical-align: bottom;
}
