@use "../variables.scss";

.copyright {
  margin-top: 30px; //26
  margin-bottom: 16px;
  margin-left: 1px;
  width: 130px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 3px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 27px;
    margin-right: -13px;
  }
}

.copyright__link {
  color: variables.$dark-text;
  text-decoration: none;

  &:hover {
    color: variables.$secondary-color;
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__icon {
  vertical-align: middle;
  margin-left: 8px;
}
