@use "../variables.scss";
@use "../supportive/mixins.scss";

.feedback {
  display: grid;
  grid-template-columns: 1fr;
  color: variables.$light-text;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feedback__group {
  position: relative;
  max-width: 100%;
  border: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (max-width: variables.$tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    margin-top: 15px;

    &:first-child::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #e5e5e5;
    }

    &--attractions {
      margin-bottom: 5px;
    }

    &--impress {
      margin-bottom: 12px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &--impress {
      margin-top: 30px;
    }
  }

  &--guest {
    @media (min-width: variables.$tablet-width) {
      padding-right: 27px;
    }

    @media (min-width: variables.$desktop-width) {
      padding-right: 52px;
    }
  }

  &--contact-info {
    @media (min-width: variables.$tablet-width) {
      padding-left: 27px;
    }

    @media (min-width: variables.$desktop-width) {
      padding-left: 52px;
    }
  }
}

.feedback__group--impress,
.feedback__group--attractions,
.feedback__group--emotions {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;

    & .feedback__container {
      grid-template-columns: repeat(2, 1fr);
    }

    & .feedback__title {
      width: 402px;
      margin: 22px auto 30px;
      background-color: variables.$common-color;
    }

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: variables.$desktop-width) {
    & .feedback__title {
      width: 400px;
      margin: 22px auto 30px;
    }
  }
}

.feedback__group--impress,
.feedback__group--attractions {
  .feedback__container {
    @media (min-width: variables.$desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin-top: 15px;
    }
  }
}

.feedback__group--impress {
  .feedback__container {
    @media (min-width: variables.$desktop-width) {
      column-gap: 66px;
      row-gap: 20px;
      padding: 15px 54px;
    }
  }
}

.feedback__group--attractions {
  .feedback__container {
    @media (min-width: variables.$desktop-width) {
      column-gap: 51px;
      row-gap: 20px;
      padding: 15px 30px;
    }
  }
}

.feedback__container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 9px;
  max-width: 100%;
}

.feedback__title {
  position: relative;
  margin-top: 24px;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet-width) {
    @include mixins.font(700, 21px, 26px);
    margin-top: 9px;
    margin-left: 5px;
    margin-bottom: 29px;
  }
}

.feedback__group--attractions .feedback__title {
  margin-top: 25px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 28px;
    margin-top: 13px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 43px;
  }
}

.feedback__label {
  margin-left: 14px;

  @media (min-width: variables.$tablet-width) {
    margin-left: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    .feedback__group--impress & {
      max-width: 185px;
    }
  }
}

.feedback__field {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.feedback__field--text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;

  @media (min-width: variables.$tablet-width) {
    .feedback__group--guest &:last-child {
      margin-bottom: -1px;
    }
  }
}

.feedback__field--with-icon {
  padding-right: 58px;
}

.feedback__field-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  .feedback__group--contact-info &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--tel::after {
    background-image: url("../img/phone.svg");
  }

  &--mail::after {
    background-image: url("../img/icon-mail.svg");
  }

  &:last-child {
    margin-bottom: -6px;
  }

  .feedback__group--impress & {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: -10px;

      @media (min-width: variables.$desktop-width) {
        margin-bottom: 0;
      }
    }

    @media (min-width: variables.$tablet-width) {
      margin-left: 39px;

      &:nth-child(2n) {
        margin-left: 10px;

        @media (min-width: variables.$desktop-width) {
          margin-left: 0;
        }
      }
    }

    @media (min-width: variables.$desktop-width) {
      margin: 0;
    }
  }

  .feedback__group--attractions & {
    @media (min-width: variables.$tablet-width) {
      margin-left: 82px;

      &:nth-child(2n) {
        margin-left: 20px;
      }
    }

    @media (min-width: variables.$desktop-width) {
      margin-left: 15px;

      &:nth-child(2n) {
        margin-left: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.feedback__mark {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}

.feedback-field--radio + .feedback__mark {
  border-radius: 50%;
}

.feedback-field--radio:checked + .feedback__mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}

.feedback__mark + .feedback__label {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  margin-left: 60px;
  margin-top: 10px;
  height: 46px;
}

.feedback-field--checkbox + .feedback__mark {
  border-radius: 4%;
}

.feedback-field--checkbox:checked + .feedback__mark::before {
  position: absolute;
  top: 16px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  content: "";
}

.feedback-field--checkbox ~ .feedback__label {
  margin-bottom: 6px;
}

.feedback__group--emotions {
  margin-top: -10px;

  @media (min-width: variables.$desktop-width) {
    margin-top: 19px;
  }

  & .feedback__field-wrap {
    grid-column: 1 / 3;
    min-width: 100%;
  }
}

.feedback__message {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: variables.$desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.feedback__button-wrap {
  padding: 0 20px;
  box-sizing: border-box;
  text-align: right;

  @media (min-width: variables.$tablet-width) {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.feedback__button {
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 1px;
  width: 100%;
}

.feedback__note {
  font-size: 12px;
  text-align: right;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    vertical-align: middle;
  }
}
