@use "../variables.scss";
@use "../supportive/mixins.scss";

.form {
  margin-top: 27px;
  margin-bottom: 32px;
  max-width: 100%;

  @media (min-width: variables.$tablet-width) {
    margin-top: 83px;
    margin-bottom: 78px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 40px;
    margin-bottom: 78px;
  }
}

.form__wrapper {
  max-width: 100%;

  @media (min-width: variables.$tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 120px;
  }
}
