@use "../variables.scss";
@use "../supportive/mixins.scss";

.form__button {
  background: variables.$secondary-color;
  color: variables.$common-color;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 49px;
  border: none;
  margin-bottom: 49px;
}
