@use "../variables.scss";

.intro {
  margin-top: 56px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 0;
  }
}

.intro__wrapper {
  position: relative;
  background-color: #cae5f6;
  background-image: url("../../img/intro-bg-mobile.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 389px;
  text-align: center;

  &::after {
    position: absolute;
    background-image: url("../../img/intro-triangle.svg");
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    left: 0;
    bottom: 0;
    height: 57px;
    width: 1201px;
    max-width: 100%;
    content: "";

    @media (min-width: variables.$tablet-width) {
      background-position: bottom -1px center;
    }
  }

  @media (min-width: variables.$tablet-width) {
    background-image: url("../../img/intro-bg-desktop.jpg");
    height: 518px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/intro-bg-mobile@2x.jpg");

    @media (min-width: variables.$tablet-width) {
      background-image: url("../../img/intro-bg-desktop.jpg");
    }
  }
}

.intro--inner .intro__wrapper {
  background-position: bottom center;
  height: 158px;
  background-size: auto;
}

.intro__wrapper img {
  margin-top: 90px;
}

.intro--inner .intro__wrapper img {
  margin-top: 52px;
}

.intro__title {
  color: #000000;
  margin: 0;
  margin-top: 34px;
}

.intro__description {
  text-align: center;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 17px;
}
