@use "../variables.scss";
@use "../supportive/mixins.scss";

.invite__container {
  margin: 40px 18px 48px;
}

.invite__title {
  font-size: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.invite__description {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 33px;
}

.invite__button {
  background: variables.$secondary-color;
  color: variables.$common-color;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 49px;
  border: none;
}

.invite__map {
  display: block;
  margin-bottom: 19px;
}
