@use "../variables.scss";

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: variables.$tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__hashtag {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.main-footer__social {
  text-align: center;
}

.main-footer__copyright {
  text-align: center;
}
