@use "../variables.scss";

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .main-nav__toggle {
    background-image: url("../img/icon-menu.svg");
    right: 20px;
  }

  &--open .main-nav__toggle {
    background-image: url("../img/icon-cross.svg");
  }

  @media (max-width: variables.$mobile-only) {
    & .main-nav__list {
      display: none;
    }

    &--open .main-nav__list {
      display: flex;
    }

    &--no-js {
      .main-nav__toggle {
        display: none;
      }

      .main-nav__list {
        display: flex;
      }
    }
  }

  @media (min-width: variables.$tablet-width) {
    position: relative;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-nav__toggle {
  position: absolute;
  right: 21px;
  top: 17px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  z-index: 4;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  background-color: variables.$secondary-color;

  @media (min-width: variables.$tablet-width) {
    background-color: transparent;
  }
}

@media (min-width: variables.$tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
