@use "../variables.scss";

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  height: 96px;
  align-self: center;
  position: absolute;
}

// @media (min-width: variables.$tablet-width) {
//   .main-header__logo {

//   }
// }
