@use "../variables.scss";
@use "../supportive/mixins.scss";

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;

  &--close {
    display: none;
  }
}

.modal {
  position: relative;
  margin: auto;
  background-color: variables.$common-color;
  padding-top: 19px;
  width: 320px;
  min-height: 280px;
  box-sizing: border-box;

  &--close {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    &--success {
      width: 640px;
    }

    &--error {
      width: 400px;
    }
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal__title {
  margin-bottom: 11px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  .modal--error & {
    margin-top: 24px;

    @media (min-width: variables.$tablet-width) {
      max-width: 300px;
    }
  }

  .modal--success & {
    margin-top: 20px;
  }
}

.modal__description {
  text-align: center;
  max-width: 238px;
  margin-bottom: 28px;

  .modal--success & {
    @media (min-width: variables.$tablet-width) {
      max-width: 440px;
    }
  }

  .modal--error & {
    @media (min-width: variables.$tablet-width) {
      max-width: 300px;
    }
  }
}

.modal__button {
  .modal--error & {
    width: 180px;

    @media (min-width: variables.$tablet-width) {
      margin: 49px auto;
      width: 272px;
    }
  }

  .modal--success & {
    margin: 23px auto;
    width: 280px;

    @media (min-width: variables.$tablet-width) {
      margin: 44px auto;
    }
  }
}

.modal__inner-wrap {
  margin-top: 20px;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  align-items: center;
}
