@use "../variables.scss";
@use "../supportive/mixins.scss";

.nav-list {
  background-color: variables.$secondary-color;
  color: variables.$common-color;

  @include mixins.list-reset;
}

.nav-list__item {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 12px;
}

.nav-list__link {
  color: variables.$common-color;
  text-decoration: none;
}
