@use "../variables.scss";
@use "../supportive/mixins.scss";

.nav-list {
  @include mixins.list-reset;
}

.nav-list__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: variables.$secondary-color;
  color: variables.$common-color;
}

@media (min-width: variables.$tablet-width) {
  .nav-list__item {
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    min-width: 153px;
    padding: 18px 0;
  }

  .nav-list__item:nth-child(2) {
    margin-left: 7%;
  }

  .nav-list__item:nth-child(3) {
    margin-left: 19%;
  }
}

.nav-list__link {
  text-decoration: none;
  color: variables.$common-color;
}

@media (min-width: variables.$tablet-width) {
  .nav-list__link {
    color: variables.$dark-text;
  }

  .nav-list__link--current {
    color: #766357;
  }
}
