@use "../variables.scss";
@use "../supportive/mixins.scss";

.nav-list {
  @include mixins.list-reset;
}

.nav-list__item {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  height: 56px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background-color: variables.$secondary-color;

  &:last-child::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);

    @media (min-width: variables.$tablet-width) {
      content: none;
    }
  }
}

@media (min-width: variables.$tablet-width) {
  .nav-list__item {
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    min-width: 153px;
    max-height: 56px;
    padding: 18px 0;
    box-shadow: none;
    box-sizing: border-box;
  }

  .nav-list__item:nth-child(2) {
    margin-left: 0%;
  }

  .nav-list__item:nth-child(3) {
    margin-left: 20%;
  }
}

.nav-list__link {
  display: block;
  text-decoration: none;
  color: variables.$common-color;
  padding: 17px 10% 12px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: variables.$tablet-width) {
  .nav-list__link {
    color: variables.$dark-text;
    padding: 0;

    &:hover {
      color: variables.$secondary-color;
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .nav-list__link--current {
    color: #766357;
  }
}
