@use "../variables.scss";

.page {
  height: 100%;

  @media (min-width: variables.$desktop-width) {
    background-color: #f2f2f2;
  }
}

.page__body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  //text-align: center;
  text-transform: uppercase;
  color: variables.$light-text;
  background-color: variables.$common-color;
  margin: 0;
}

@media (min-width: variables.$desktop-width) {
  .page__body {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
