@use "../variables.scss";

.presentation {
  text-align: center;
  margin-bottom: 12px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 100px;
  }
}

.presentation__text-wrap {
  padding: 0 20px;
  margin-bottom: 39px;

  @media (min-width: variables.$tablet-width) {
    margin-top: 57px;
    margin-bottom: 90px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 59px;
  }
}

.presentation__title {
  margin-top: 19px;
  margin-bottom: 26px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

.presentation__description {
  margin: 0 8px;

  @media (min-width: variables.$tablet-width) {
    max-width: 445px;
    margin: 0 auto;
  }
}

.presentation__video-wrap {
  position: relative;
  padding: 0 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 60px;
    margin-top: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
    margin: 30px auto;
    max-width: 800px;
  }
}

.presentation__video {
  display: block;
  width: 100%;
  object-fit: cover;
}

.presentation__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -55%);
  color: variables.$common-color;
  opacity: 0.7;
  z-index: 1;

  &:hover,
  &:active {
    opacity: 0.9;
  }
}
