@use "../variables.scss";
@use "../supportive/mixins.scss";

.reasons__list {
  @include mixins.list-reset;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: variables.$tablet-width) {
  .reasons__list {
    flex-direction: row;
  }
}

.reasons__item {
  padding: 0;

  &--with-image {
    background-color: variables.$secondary-color;
    color: variables.$common-color;
  }
}

@media (min-width: variables.$tablet-width) {

  .reasons__item {
    width: 33%;
  }

  .reasons__item--with-image {
    min-width: 100%;
    // min-width: variables.$tablet-width;
  }
}


.reasons__title {
  margin-top: 24px;
  margin-bottom: 11px;

  // @include common-title;
}

.reasons__subtitle,
.reasons__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.reasons__description {
  margin-bottom: 24px;
}

.reasons__subtitle {
  margin-bottom: 17px;
}
