@use "../variables.scss";
@use "../supportive/mixins.scss";

.social {
  @include mixins.list-reset;

  display: flex;
}

.social__item {
  margin: 0 3px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: variables.$secondary-color;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    & .social__icon {
      color: currentColor;
      opacity: 0.3;
    }
  }
}
