@use "../variables.scss";
@use "../supportive/mixins.scss";

.button {
  background: variables.$secondary-color;
  color: variables.$common-color;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 49px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
